<div class="input-group">
    <input
        class="form-control"
        [formControl]="formControl"
        minlength="5"
        required
        placeholder="password"
        [type]="showPassword ? 'text' : 'password'"
        [formlyAttributes]="field"
    />
    <img
        alt="Show password"
        class="icon-show input-icon pointer"
        src="./assets/seePassword.svg"
        (click)="togglePasswordShown()"
    />
</div>

<div *ngIf="formControl.touched" class="text-danger">
    <formly-validation-message [field]="field"></formly-validation-message>
</div>
