<div class="input-group">
	<input
	  class="form-control"
	  [formControl]="formControl"
	  minlength="5"
	  required
	  placeholder="password"
	  [type]="showPassword ? 'text' : 'password'"
	  [formlyAttributes]="field"
	  [ngClass]="{ invalid: showError }"
	  i18n-placeholder="placeholder of the password input field"
	/>
	<img
	  alt="Show password"
	  class="icon-show input-icon pointer"
	  src="./assets/seePassword.svg"
	  (click)="togglePasswordShown()"
	  [ngClass]="{
		'd-none': showError
	  }"
	  i18n-alt="alternative text for the show password button"
	/>
	<img
	  alt="Show password error"
	  class="icon-show-error d-none input-icon pointer"
	  src="./assets/seePasswordError.svg"
	  (click)="togglePasswordShown()"
	  [ngClass]="{
		'd-block': showError
	  }"
	  i18n-alt="
		alternative text for the show password button when an error occured
	  "
	/>
  </div>

  <div
	*ngIf="formControl.touched"
	class="text-danger"
	i18n="notification that occures when the password is too short"
  >
	<formly-validation-message [field]="field"></formly-validation-message>
  </div>
